body
{
    margin: 0px;
    text-align: center;
}
.pesquisa
{
    justify-content: center;
    
}
#resultados
{
    display: flex;
    flex-direction: column; /* Display list items vertically */
    align-items: center; /* Center list items horizontally */
    height: 170px; /* Set height to 100% of the viewport height */
    list-style: none;
    margin: 0;
    padding: 0;
}

#resultados li
{   
    justify-items: center;
    text-align: center;
    width: 300px;
    max-width: 300px;
    height: auto;
    padding-inline-start: 0px;
    margin: 0;
    padding-block: 5px;
    border-bottom: solid 1px rgb(172, 172, 172);
}
#resultados li:hover
{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
#busca
{
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: solid 1px;
    padding-inline-start: 5px;
    border-radius: 0px;
    
}
.resposta
{
    display: grid;
    width: min-content;
    margin: auto;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}
.nome
{
    align-items: center;
    justify-content: center;
    border: solid 1px;
    width: 150px;
    height: 40px;
    margin: 0px;
}
.stats
{
    align-items: center;
    justify-content: center;
    border: solid 1px;
    width: 60px;
    height: 40px;
    margin: 0px;
}
.definicoes
{
    background-color: rgb(99, 0, 112);
    color: white;
}
.respostas
{
    display:table;
    margin: auto;
}
.respostas tr
{
    display: table-row;
}
.respostas td 
{
    align-items: center;
    justify-content: center;
    display: table-cell;
    /* Add your styles here */
}
#linha
{
    visibility: collapse;
}