@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@keyframes fade-in 
{
    from 
    {
        opacity: 0;

    }
    to 
    {
        opacity: 1;
    }
}

body
{
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(64, 18, 139);
    color: rgb(255, 231, 155);
}
body img 
{
    width: 200px;
    height: 50px;
    margin: 60px;
}
.SubTítulo
{
    font-weight: 700;
    padding-block: 25px;
}
.pesquisa
{
    justify-content: center;
}

#resultados
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 220px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

#resultados li
{   
    justify-items: center;
    text-align: center;
    width: 281px;
    height: auto;
    padding-inline-start: 0px;
    margin: 0;
    padding-block: 5px;
    border-bottom: solid 2px rgb(221, 88, 214);
    border-right: solid 2px rgb(221, 88, 214);
    border-left: solid 2px rgb(221, 88, 214);
}
#resultados li:hover
{
    background-color: rgba(221, 88, 214, 0.25);
    color: rgb (253, 242, 210);
    cursor: pointer;
}
#busca
{
    width: 285px;
    height: 55px;
    margin: 0;
    padding: 5px;
    background-color: rgba(221, 88, 214, 0.25);
    border: solid 2px rgb(221, 88, 214);
    color: rgb(253, 242, 210);
    font-size: 12pt;
}
#busca:focus
{
    border: solid 2px rgb(221, 88, 214);
    outline: none;
}
::placeholder 
{ 
    color: rgba(253, 242, 210, 0.5);
    opacity: 1; /* Firefox */
}  
:-ms-input-placeholder 
{
    color: rgba(253, 242, 210, 0.5);
}
::-ms-input-placeholder 
{ 
    color: rgba(253, 242, 210, 0.5);
}

table
{
    border-collapse: collapse;
    font-size: 10pt;
    padding: 8px;
}
table td 
{
    border-bottom: solid 2px rgb(37, 7, 36);
    border-left: solid 2px rgb(37, 7, 36);
    border-right: solid 2px rgb(37, 7, 36);
}
.nome
{
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin: 0px;
}
.stats
{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    margin: 0px;
}
.definicoes
{
    background-color: rgb(99, 0, 112);
    color: white;
    border-top: solid 2px rgb(37, 7, 36);
}
.respostas
{
    margin: auto;
    font-weight: 700;
    animation: fade-in 1s ease-in-out;
}

.respostas td 
{
    align-items: center;
    justify-content: center;
    animation: fade-in 1s ease-in-out;
}
#resp1
{
    margin-bottom: 30px;
}
